.ticketing {
    background-color: #F4DEC5;
}

.ticketing__title {
    font-family: source serif pro;
    size: 32px;
    margin: 20px;
}
.ticketing__subtitle {
    font-family: mulish;
    size: 22px;
    font-style: bold;
    margin: 20px;
}

.ticketing__description {
    font-family: STIX Two Text;
    size: 18px;
    margin: 20px;
}

.ticketing__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 45%;
    
}

.program__child-adulte {
    background-color: #F4DEC5;
}

.program__title {
    font-family: 'STIX Two Text', serif;
    font-size: 24px; /* Ajustez la taille de la police selon vos besoins */
    margin: 20px 0;
    text-align: center; /* Centrer le titre */
}

.program__image {
    width: 100%; 
    max-width: 350px; 
    height: auto; 
    object-fit: cover;
    margin: 0 auto;
    display: block; 
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px;
    margin: 20px auto;
    text-align: center;
}

.program__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card__content {
    padding: 20px;
}

.__title {
    font-family: 'STIX Two Text', serif;
    font-size: 24px;
    margin: 20px 0;
}

.program__date {
    font-family: mulish;
    size: 13px;
    margin: 20px;
    text-transform: uppercase;
    
}

.program__price {
    font-family: mulish;
    size: 13px;
    margin: 20px;
}

.program__button {
    background-color: #F4DEC5; 
    color: #ff6600;
    border: 3px solid #ff6600; 
    padding: 10px 20px; 
    font-size: 16px; 
    font-weight: bold; 
    text-transform: uppercase; 
    border-radius: 5px; 
    cursor: pointer; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s ease; 
    margin-left: 35%;
}

.program__button:hover {
  background-color: #ff6600; 
  color: #ffffff; 
}
