.carousel {
    position: relative;
    width: 80%;
    margin: 50px auto;
    overflow: hidden; 
    border: none;
    border-radius: 10px;
    display: flex;
}

.carousel__wrapper {
    display: flex;
    transition: transform 0.5s ease; 
    gap: 20px;
}

.carousel__item {
    min-width: 300px; 
    height: auto;
    background-color: #83889D;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel__item_enfant {
    min-width: 250px; 
    height: auto;
    background-color: #83889D;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #3D415D;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 10;
}

.carousel__btn--prev_enfant {
    left: 10px;
    margin-top: 500px;
}

.carousel__btn--next_enfant {
    right: 10px;
    margin-top: 500px;
}

.carousel__btn--prev {
    left: 10px;
    margin-top: 170px;
}

.carousel__btn--next {
    right: 10px;
    margin-top: 170px;
}