.programme {
   background-color: #F4DEC5; 
   margin: 20px;
    font-family: source serif pro;
    size: 32px;
    
}
 .programme-introduction{
    margin: 20px;
    font-family: mulish;
    size: 22px;
}
 .programme-description{
    margin: 20px;
    font-family: STIX Two Text;
    size: 18px;
 }
   .programme-image{
    margin: 20px;
    display: flex;
    justify-content: center;
   }
 .programme-texte{
    margin: 20px;
    font-family: STIX Two Text;
    size: 18px;
 }
   .programme-defi{
    font-family: creepster;
    size: 32px;
    justify-content: center;
   }

   .selection {
    background-color: #F4DEC5;
   }

.selection__titre{
    font-family: mulish;
    size: 22px;
    margin: 20px;
}
 .selection__date{
    font-family: mulish;
    size: 13px;
    margin: 20px;
 }
 .selection-films {
    background-color: #F4DEC5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.selection__card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 350px;
    text-align: center;
    align-items: center;
}

.selection__image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.selection__content {
    padding: 20px;
}

.selection__nom,
.selection__debut,
.selection__duree,
.selection__age {
    font-family: 'Mulish', sans-serif;
    font-size: 13px;
    margin: 10px 0;
}

.selection__nom {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.selection__card { 
   margin: auto;
   width: 50%;
   display: flex;
    gap: 15px; /* Espacement entre les cartes */
    transition: transform 0.5s ease-in-out; /* Transition fluide pour les défilements */
    will-change: transform;
    align-items: self-start;
    
}
.filmsgallery {
    overflow: hidden; /* Masque les éléments en dehors du conteneur */
    width: 100%; /* Ajuste à la taille souhaitée */
    position: relative;
}