.footer {
  background-color: orange;
}

.footer__logo {
  margin: 20px;
}

.footer__links {
  color: white;
  text-align: right;
  margin-right: 20px;
  font-family: mulish;
  text-transform:uppercase;
  size: 13px;
}

.footer__align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}


/*.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 100px;
    background-color: #F17007;
    color: #fff;
  }
  
  .footer__logo {
    height: 50px;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    align-items: flex-start;
  }
  
  .footer__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footer__links p {
    margin: 5px 0;
    color: #fff;
  }
  
  .footer__image {
    height: 150px;
    margin: 0 20px;
    justify-content: flex-end;
    left: 0;
    position: absolute;
  }
  
  .footer__social {
    display: flex; 
    justify-content: flex-end;
    right: 0;
    position: absolute;
    gap: 5px; 
    align-self: flex-end;
  }
  
  .footer__social img {
    margin: 0 5px; 
    height: 30px;
  }
  
  /*@media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  
    .footer__image {
      margin: 20px 0;
    }
      */
  }