.header__nav {
  visibility: hidden;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: 1;
  background: #F17007;
  color: var(--black);
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space5x) var(--space3x) var(--space3x);
  transform: translateX(100vw);
  transition: all 0.3s ease-in-out;
}

.header__nav[aria-hidden="false"] {
  transform: translateX(0);
  visibility: visible;
}

.header__menu-link {
  color: var(--black);
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.2px;
  padding: 10px 0;
  
}

.header__menu-item {
  margin-bottom: 37px;
  padding-bottom: var(--space1x);
  border-bottom: 1px solid var(--black);
  
}

.header__menu-button {
  position: absolute;
  top: 20px; /* Ajustez cette valeur selon vos besoins */
  right: 20px; /* Ajustez cette valeur selon vos besoins */
  padding: 5px;
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus des autres éléments */
}

.menu-btn {
  position: absolute;
  top: 20px; /* Ajustez cette valeur selon vos besoins */
  right: 20px; /* Ajustez cette valeur selon vos besoins */
  padding: 5px;
  z-index: 1000; /* Assurez-vous que le bouton est au-dessus des autres éléments */
}


.list-unstyled {
  margin-top: 223px;
  list-style-type: none;
  padding-left: 35px;
}

.header__menu-list {
  margin-top: 223px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
  gap: 10px; }

  .menu__close-btn {
    position:  absolute;
    right: 0;
    padding: 20px;
  }