.header__nav {
    position: relative;
  }
  
  .header__menu-list {
    display: none; 
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #333;
  }
  
  .header__menu-item {
    margin: 0;
  }
  
  .header__menu-link {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  
  .menu-toggle {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .header__nav[aria-expanded="true"] .header__menu-list {
    display: block;
  }

  .header__menu-btn {
    height: 30px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 15;
    margin :15px;

  }
 